
      <link rel="stylesheet" href="/css/game.css">

      <section>
        <div class="row">
          
          <div class="col-md-12">
            <div class="gamefield">
              <div class="btn-sett" data-toggle="modal" data-target="#myModal">
                <h6>Maxima puntuación</h6>
              </div>
              <div class="top-row">
                <div id="blue" class="gamebutton" onClick="addToPlayer(this.id)"></div>
                <div id="purple" class="gamebutton" onClick="addToPlayer(this.id)"></div>
              </div>
              <div class="middle-row">
                <div id="green" class="gamebutton" onClick="addToPlayer(this.id)"></div>
                <div id="gameNumber">
                  <h2 id="clickNumber">0</h2></div>
                <div id="red" class="gamebutton" onClick="addToPlayer(this.id)"></div>
              </div>
              <div class="bottom-row">
                <div id="dark" class="gamebutton" onClick="addToPlayer(this.id)"></div>
                <div id="yellow" class="gamebutton" onClick="addToPlayer(this.id)"></div>
              </div>
            </div>
          </div>
        </div>
</section>