<header class="masthead"
        style="background-image: url(&quot;/assets/img/google.jpg?h=29a4020865a24db0df1cda7a658bae02&quot;);">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span></span></div>
                <div class="intro-heading text-uppercase"><span><br><em>Welcome To Simon Says!</em><br><br></span></div>
                <a class="btn btn-primary active border rounded btn-xl text-uppercase js-scroll-trigger" role="button"
                    href="/signin" style="color: rgb(255,255,255);background-color: #14b5ac;">play</a>
            </div>
        </div>
    </header>