@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/muli/v17/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
  }
  body {
    background-color: #071013;
    color: white;
    font-family: 'Muli', sans-serif;
  }
  .gamefield {
    max-width: 480px;
    margin: 20px auto;
  }
  .align {
    display: flex;
    justify-content: center;
  }
  .top-row {
    display: flex;
    justify-content: center;
  }
  .middle-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
  }
  .bottom-row {
    display: flex;
    justify-content: center;
  }
  .baseline-row{
    display: flex;
    justify-content: center;
  }
  .gamebutton {
    width: 90px;
    height: 90px;
    border-radius: 400px;
  }
  #blue {
    border: 4px solid #08BDBD;
    margin: 20px;
  }
  #blue:active {
    background-color: #08BDBD;
  }
  #purple {
    border: 4px solid #FE009E;
    margin: 20px;
  }
  #purple:active {
    background-color: #FE009E;
  }
  #green {
    border: 4px solid #29BF12;
    margin: 20px;
  }
  #green:active {
    background-color: #29BF12;
  }
  #red {
    border: 4px solid #F21B3F;
    margin: 20px;
  }
  #red:active {
    background-color: #F21B3F;
  }
  #dark {
    border: 4px solid #FF9914;
    margin: 20px;
  }
  #dark:active {
    background-color: #FF9914;
  }
  #yellow {
    border: 4px solid #F2FE00;
    margin: 20px;
  }
  #yellow:active {
    background-color: #F2FE00;
  }
  #gray {
    border: 4px solid #808080;
    margin: 20px;
  }
  #gray:active {
    background-color: #808080;
  }
  #blue.hover {
    background-color: #08BDBD;
  }
  #purple.hover {
    background-color: #FE009E;
  }
  #green.hover {
    background-color: #29BF12;
  }
  #red.hover {
    background-color: #F21B3F;
  }
  #dark.hover {
    background-color: #FF9914;
  }
  #yellow.hover {
    background-color: #F2FE00;
  }
  #gray.hover {
    background-color: #808080;
  }
  .btn-sett {
    font-size: 2.7em;
    text-align: left;
    transition: 500ms;
    width: 70px;
    margin-right: 340px;
  }
  .btn-sett:hover {
    color: #29BF12;
  }
  .modal-title {
    color: #071013;
    text-align: center;
  }
  .black {
    color: #071013;
    text-align: center;
  }
  #strict {
    margin: 5px auto;
    text-align: center;
  }
  