<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="color: rgb(0,0,0);">
    <div class="container"><a class="navbar-brand" href="/" style="color: rgb(255,255,255);"><i class="fa fa-gamepad"
                id="icon"></i>Simon Says</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse"
            data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(54,110,254);"><i
                class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/register">SIGN
                        UP</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/signin">Singin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>