body {
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
    background-color: #324E5C
  }
  
  .switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .switch {
    display: none;
  }
  
  .switch-btn {
    width: 80px;
    height: 40px;
    background: #e5e5e5;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 2px 10px rgba(0,0,0,.3)
  }
  
  .switch-btn:before {
    content: '';
    position: absolute;
    height: 36px;
    width: 36px;
    background: white;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all 150ms ease-out;
    box-shadow: 0 8px 6px -4px rgba(0,0,0,.25);
  }
  
  input[type=checkbox]:checked + .switch-btn:before {
    left: 42px;
  }
  
  input[type=checkbox]:checked + .switch-btn {
    background: #47CB8F;
  }
  
  .button {
    margin: 25px;
    margin-top: 27px;
    width: 80px;
    height: 40px;
    background: #77DD77;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 2px 10px rgba(0,0,0,.3);
    text-align: center;
    line-height: 40px;
  }
  
  .button:active {
    transform: scale(0.9);
  }
  
  .step-counter {
    margin-left: 28px;
    font-size: 1.2em;
  }
  
  .app-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-size: 1.3em;
  }
  
  .controller-main-container {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .tiles-main-container {
    width: 80vh;
    height: 80vh;
    display: grid;
    /* grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 10% 1fr 1fr 10%; */
    background-color: #DBDEB5;
    border-radius: 5px;
  }
  
  .green-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(18, 155, 59);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .red-tile {
    width: 120px;
    height: 120px;
    background-color: #F73955;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  
  .yellow-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(255, 244, 87);
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .blue-tile {
    width: 120px;
    height: 120px;
    background-color: #2A96BD;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  
  .pink-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(247, 57, 206);
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  
  .purple-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(102, 0, 150);
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
  
  .brown-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(77, 34, 10);
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  
  .white-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  
  .black-tile {
    width: 120px;
    height: 120px;
    background-color: rgb(0, 0, 0);
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
  
  .animation {
    background-color: rgb(173, 147, 0);
    transition: all 250ms linear;
  }
  
  .wrong-tile-animation {
    background-color: red;
    transition: all 250ms linear;
  }
  
  @media (max-width: 768px) {
    .app-main-container { 
      width: 100%;
      margin-top: 3vh;
    }
  
    .controller-main-container {
      width: 90%;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1.3em;
    }
  
    .button {
      padding: 0.1em;
      width: 35%;
      margin-top: 58px;
    }
  
    .step-counter {
      padding-top: 38px;
    }
  }
  
  @media (max-width: 425px) {
    .controller-main-container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .tiles-main-container {
      width: calc(90vh - 20px);
      height: calc(90vh - 280px);
    }
  
    .button {
      font-size: 1em;
      padding: 0.2em;
      width: 100%;
    }
  
    .step-counter {
      padding-top: 0;
      margin-left: 0;
    }
  }
  
  /* The Modal (background) */
  .my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .show-model {
    display: block;
  }
  
  .my-modal-content {
    font-size: 1.2em;
    position: relative;
    background: #E06565;
    margin: auto;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #E06565;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .my-modal-header {
    padding: 2px 16px;
  }
  
  .my-modal-body {
    padding: 2px 16px;  
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .my-modal-footer {
    padding: 2px 16px;
  }
  
  .greet-image{
    max-width: 50%;
    max-height: 100%;
  }
  
  
  .modal-instractions p {
    padding: 5px;
  }
  
  @media (max-width:778px) {
      .my-modal-body{
          flex-direction: column;
          align-items: center;
      }
      .my-modal-content{
          width: 95%;
      }
  
  }