<h1>LOGEADO, YA PUEDES JUGAR </h1>
<a href="/users/logout">
    <h3>Log Out</h3>
</a>
Mis Partidas <br>
{{#each myscores}}
{{else}}
    <h5 class="mb-0">Aún no has jugado </h5>
{{/each }}
{{#each myscores}}
Scores: {{puntaje}}
Date: {{date}}
<br>
{{/each}}
<hr>
Mejores Jugadores Ranking<br>
{{#each allscores}}
{{else}}
    <h5 class="mb-0">Aún no has jugado </h5>
{{/each }}
{{#each allscores}}
Jugador: {{usna}}
Scores: {{puntaje}}
Date: {{date}}
<br>
{{/each}}