<hi>Login</hi>
<form action="/users/login" method="POST">
    Email <input type="email" name="email" required><br>
    Password <input type="password" name="password" required><br>
    <button type="submit">Inicar Sesión</button>
</form>