<form action="/users/signup" method="POST">
    Name<input type="text" name="name" required value="{{name}}"><br>
    Email<input type="email" name="email" required value="{{email}}"><br>
    Password<input type="password" name="password" required value="{{password}}"><br>
    Password confirm<input type="password" name="confirm_password" required value="{{confirm_password}}"><br>
    <button type="submit">Registrar</button>
</form>
